name: CI
on:
  push:
    branches:
    - main
    paths:
    - src/**
    - ui/**
    - pom.xml
    - .github/workflows/*
  pull_request:
    branches:
    - main
    paths:
    - src/**
    - ui/**
    - pom.xml
    - .github/workflows/*
jobs:
  unit-test:
    uses: categolj/workflows/.github/workflows/unit-test.yaml@main
  build-oci-image-jvm-amd64:
    needs: unit-test
    uses: categolj/workflows/.github/workflows/build-oci-image-jvm.yaml@main
    with:
      image_name: jvm_amd64
      image_file: jvm_amd64.yaml
      runs_on: ubuntu-latest
  build-oci-image-jvm-aarch64:
    needs: unit-test
    uses: categolj/workflows/.github/workflows/build-oci-image-jvm.yaml@main
    with:
      image_name: jvm_aarch64
      image_file: jvm_aarch64.yaml
      runs_on: ubuntu-24.04-arm
  push-multi-arch-image-jvm:
    needs:
    - build-oci-image-jvm-amd64
    - build-oci-image-jvm-aarch64
    uses: categolj/workflows/.github/workflows/push-multi-arch-image.yaml@main
    with:
      prefix: jvm
  save-image-jvm-amd64:
    needs: build-oci-image-jvm-amd64
    uses: categolj/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: jvm_amd64
      image_file: jvm_amd64.yaml
  save-image-jvm-aarch64:
    needs: build-oci-image-jvm-aarch64
    uses: categolj/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: jvm_aarch64
      image_file: jvm_aarch64.yaml
  build-oci-image-native-amd64:
    needs: unit-test
    uses: categolj/workflows/.github/workflows/build-oci-image-native.yaml@main
    with:
      image_name: native_amd64
      image_file: native_amd64.yaml
      runs_on: ubuntu-latest
  build-oci-image-native-aarch64:
    needs: unit-test
    uses: categolj/workflows/.github/workflows/build-oci-image-native.yaml@main
    with:
      image_name: native_aarch64
      image_file: native_aarch64.yaml
      runs_on: ubuntu-24.04-arm
  push-multi-arch-image-native:
    needs:
    - build-oci-image-native-amd64
    - build-oci-image-native-aarch64
    uses: categolj/workflows/.github/workflows/push-multi-arch-image.yaml@main
    with:
      prefix: native
  save-image-native-amd64:
    needs: build-oci-image-native-amd64
    uses: categolj/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: native_amd64
      image_file: native_amd64.yaml
  save-image-native-aarch64:
    needs: build-oci-image-native-aarch64
    uses: categolj/workflows/.github/workflows/save-images.yaml@main
    with:
      image_name: native_aarch64
      image_file: native_aarch64.yaml
  build-native-binaries:
    if: github.ref == 'refs/heads/main'
    needs:
    - build-oci-image-native-amd64
    - build-oci-image-native-aarch64
    permissions:
      contents: write
    uses: categolj/workflows/.github/workflows/build-native-image.yaml@main
    strategy:
      matrix:
        with:
        - runs-on: ubuntu-latest
          binary_suffix: -x86_64-pc-linux
        - runs-on: ubuntu-24.04-arm
          binary_suffix: -aarch64-pc-linux
        - runs-on: macos-15-intel
          binary_suffix: -x86_64-apple-darwin
        - runs-on: macos-latest
          binary_suffix: -aarch64-apple-darwin
    with:
      download_target: false
      e2e_test: true
      test_url_1: http://localhost:8080/actuator/health
      runs-on: ${{ matrix.with.runs-on }}
      binary_suffix: ${{ matrix.with.binary_suffix }}
  publish-native-binaries:
    if: github.ref == 'refs/heads/main'
    needs: build-native-binaries
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Download build artifacts x86_64-pc-linux
      uses: actions/download-artifact@v4
      with:
        name: lognroll-x86_64-pc-linux
        path: lognroll-x86_64-pc-linux
    - name: Download build artifacts aarch64-pc-linux
      uses: actions/download-artifact@v4
      with:
        name: lognroll-aarch64-pc-linux
        path: lognroll-aarch64-pc-linux
    - name: Download build artifacts x86_64-apple-darwin
      uses: actions/download-artifact@v4
      with:
        name: lognroll-x86_64-apple-darwin
        path: lognroll-x86_64-apple-darwin
    - name: Download build artifacts aarch64-apple-darwin
      uses: actions/download-artifact@v4
      with:
        name: lognroll-aarch64-apple-darwin
        path: lognroll-aarch64-apple-darwin
    - name: check files
      run: find .
    - uses: pyTooling/Actions/releaser@r0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          ./lognroll-x86_64-pc-linux/lognroll-x86_64-pc-linux
          ./lognroll-aarch64-pc-linux/lognroll-aarch64-pc-linux
          ./lognroll-x86_64-apple-darwin/lognroll-x86_64-apple-darwin
          ./lognroll-aarch64-apple-darwin/lognroll-aarch64-apple-darwin